body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    padding: 30px 150px;
}

header {
    width: 100%;
    margin-bottom: 20px;
}

.h1 {
    padding: 15px 20px 15px 25px;
    border: solid 1px gray;
    border-radius: 4px;
    background-color:lavender;
    display: inline-block
}

h1 {
    margin: 0;
}

aside {
    width: 30%;
    float: left;
    display: inline;
    border: solid 1px gray;
    border-radius: 4px;
    padding-left: 20px;
    margin-right: 40px;
}

input {
    padding: 6px;
    width: 80%;
    margin-bottom: 10px;
}

.new-task{
    width: 100%;
}

.new-task button{
    float: right;
    background-color: #ec0000;
    font-size: 16px;
    color: white;
    padding: 14px 24px;
    border: none;
    border-radius: 4px;
    transition-duration: 0.3s;
}


.new-task button:hover {
    background-color: #ec0000a2;
    color: black;
}

img {
    max-width: 40px;
}

.down button img {
    max-width: 23px;
    margin-left: 8px;
}

.down button{
    float: right;
    background-color: #ec0000;
    font-size: 14px;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    transition-duration: 0.3s;
    display: inline-flex;
    align-items: center;
}


.down button:hover {
    background-color: #ec0000a2;
    color: black;
}