* {
    box-sizing: border-box;
    font-family: monospace;
    font-size: 25px;
    text-align: center;
  }
  main {
      max-width: 1100px;
      padding: auto;
      margin: auto;
    }
    
    body {
      background: rgb(238,174,202);
      background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    }
  
    .footer {
      position: absolute;
      bottom: 0;
      width:100%;
     height:100px;
    }
  
    #container {
        border: 5px solid black;
        border-radius: 10px;
        background: white;
        text-align: center;
        align-self: center;
    }
  
    #message {
        padding-top: 15px;
        padding-bottom: 15px;
    }
  
    /* Buttons */
    .button {
      display: inline-block;
      padding: 15px 25px;
      font-size: 24px;
      cursor: pointer;
      text-align: center;
      color: #666;
      background-color: "whitesmoke";
      border: none;
      border-radius: 15px;
      box-shadow: 0 5px #999;
      margin-top: 25px;
    }
    
    .button:hover {background-color: #c5cad4}
    
    .button:active {
      background-color: #c5cad4;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
    
    /*Select dropdown*/
    select {
      margin: 50px;
      width: 80px;
      padding: 5px 35px 5px 5px;
      font-size: 20px;
      border: 2px solid #CCC;
      height: 50px;
    }
   