* {
    box-sizing: border-box;
}

button {
    background-color: red;
    border-color: black;
    width: 200px;
    height: 200px;
    padding: 20px;
    transition: background-color 0.5s ease,
                border-color 1s ease,
                width 0.5s ease,
                transform 1s ease;

}

button:disabled {
    filter: grayscale(1);
}

button:hover {
    width: 200px;
    border-color: yellow;
    background-color: green;
    transform: rotate(360deg);
}

.spinner {
    width: 100px;
    height: 100px;
    border: 5px solid tomato;
    border-radius: 50%;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    animation: spinning 2s linear infinite;
}


@keyframes spinning {
    0% {
        transform: rotate(0deg);
    }

    30% {
        transform: rotate(250deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

