* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.spinner {
  animation-name: spinner;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation-timing-function: linear;
}

.spinner-wrapper {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

main {
  margin: 40px 150px;
}

header {
  height: 100px;
  width: 100%;
  background-color: blue;
  display: flex;
  justify-content:center;
  align-items: center;

}

.add-game-form {
  height: 40px;
}

.add-game-form input {
  font-size: 18pt;
  height: 40px;
  width: 350px;
}

#add {
  height: 40px;
  font-size: 18pt;
}

.results {
  background-color: gray;
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.747), 0 0 40px 5px black;
  padding: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: auto;
}

.remove-button,
.add-game-button {
  position: absolute;
  right: 20px;
}

.remove-button-wrapper {
  height: 24px;
}

.image {
  width: 250px;
  height: 350px;
  object-fit: cover;
}
.game-container {
  display: flex;
  margin: 10px 0;
}
.info-container {
  margin: 5px 5px;
}
.info-container .remove-button {
  position: absolute;
  top: 10px;
}

.game-element-wrapper {
  display: flex;
}

#game-list {
  display: flex;
  flex-wrap: wrap;
}

.game-container {
  position: relative;
  width: 50%;
}

.id {
  display: none;
}

@keyframes spinner {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
  
}