* {
    box-sizing: border-box;
    font-family: 'Comforter Brush', cursive;
    font-family: 'Estonia', cursive;
    font-family: 'Nunito', sans-serif;
}

.caesar-cipher-wrapper {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
}

.caesar-cipher-wrapper h1 {
    text-align: center;
    color: white
}
#cipher, #submit {
    width: 100%;
    margin-bottom: 10px;
}

#result {
    text-align: center;
    margin: 10px 0;
}

#submit {
    background-color: rgb(255, 2, 200);
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 0;
}

#submit:hover {
    background-color: rgb(0, 255, 55);
}
