* {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    background-color: rgb(255, 143, 163);
}

hr {
    border-style: solid;
    border-color: #eee;
}

header {
    background-color: rgb(255, 117, 143);
    padding: 20px;
}

a {
    color: black;
}

@keyframes spin {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg);
    }
}

.loader {
    border: 5px solid cadetblue;
    border-top: 5px solid #ccc;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: auto;
}

footer {
    background-color: rgb(255, 117, 143);
    padding: 20px 0;
}

#search-form {
    padding: 20px;
    background-color: rgb(255, 143, 163);
}

#search-form>button, #search-form>input {
    padding: 10px;
    border-radius: 10px;
}

#user-profile {
    justify-content: center;
    margin: auto;
    background-color: rgb(255, 143, 163);
}

.user {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin: auto;
    padding: 20px;
    width: 50%;

}

.user-title {
    background-color: rgb(255, 117, 143);
    margin: auto;
    width: 300px;
    border-radius: 10px;
    padding: 10px
}

.avatar-box {
    margin: 0px auto;
    flex-basis: 50%;
    min-width: 400px;
}

.info-box {
    min-width: 450px;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px auto;
}

.user-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(255, 179, 193);
}

.user-info>* {
    padding: 10px;
    width: 200px;
    text-align: left;
}

.user-info>*:nth-child(2) {
    font-weight: bold;
}

.user-info>a {
    text-decoration: underline;
}

.user-avatar>img {
    border-radius: 10px;
    width: 100%;

}

ul {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

li {
    background-color: rgb(255, 179, 193);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 10px;
    border-radius: 10px;
}

li>* {
    width: 500px;
}

li>*:nth-child(2) {
    align-self: flex-start;
    text-align: left;
}