body {
    margin: 0;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
}

body a {
    text-decoration: none;
}

.color-palete {
    color1: #000000;
    color2: #14213D;
    color3: #FCA311;
    color3: #E5E5E5;
    color3: #FFFFFF;
}

.btn.btn-yellow {
    background-color: #FCA311;
}

.btn.btn-yellow:hover{
    color: #E5E5E5;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #FFFFFF;
    padding: 15px 0;
    background-color: #14213D;
    text-align: center;
}

main, aside {
    height: 100%;
}

h-100 {
    height: 100%;
}

.clear-both {
    clear: both;
}

.page-container {
    height: calc(100vh - 56px - 54px);
}

.places-list {
    max-height: calc(100% - 38px);
}

.card-header.space-header {
    display: flex;
    justify-content: space-between;
}

.body-wrapper {
    position: relative;
    min-height: 100vh;
    z-index: 2;
}

.toast-container {
    z-index: 11;
}



/*  GOOGLE MAP INFO WINDOW  */

#map #bodyContent .name {
    margin-right: 20px;
}
#map #bodyContent a {
    color: #000;
}
#map #bodyContent .item {
    padding: 10px 0;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
#map #bodyContent .item:hover {
    background-color: #E6E6E6;
}
#map #bodyContent .no-items-item {
    font-size: 15px;
}
#map #content h5 {
    margin-right: 15px;
}
