* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', Arial, sans-serif;
    margin: 0 auto;
}

.main {
    display: flex;
}

.search {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
}

.flight-list {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
}

.map {
    display: flex;
    flex-direction: column;
    width: 50%;
    height:800px;
  }
