* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', Arial, sans-serif;
    margin: 0 auto;
    background-color: burlywood;
}

header {
    background-color: blanchedalmond;
}

h2 {
    text-transform: uppercase;
}

.main {
    display: flex;
}

.search {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    background-color: burlywood;
    height: 1000px;
    padding: 10px;
}

.flight-list {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    background-color: burlywood;
    border-left: solid 3px;
    border-left-color: cadetblue;
    height: 100%;
    padding: 10px;
}

.map {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 1000px;
}

.spinner {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border: 20px solid transparent;
    border-top-color: red;
    border-bottom-color: red;
    animation: spinning 2s linear infinite;
    transition: border-color 0.5s ease;
  }
  
  @keyframes spinning {
    from { 
      transform: rotate(0deg); 
    }
    to { 
      transform: rotate(360deg); 
    }
  }

  .hidden {
      display: none;
  }
