* {
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
}

.container {
    padding-top: 30px;
    position: relative;
    width: 600px;
}

.inputs {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}