* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
#game-field {
    display: flex;
    column-gap: 10px;
    row-gap: 10px;
    max-width: 1024px;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
}
.card {
    width: calc((100% - 40px) / 5);
    height: 100px;
    color: #FFF;
    background-color: #a40000;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color .8s ease;
}
.card:hover {
    background-color: #910101;
}
.card.revealed {
    background-color: #019103;
}
h1, h2 {
	text-align: center;
}