* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(230, 230, 230);
}

form {
    background-color: white;
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.form-row {
    display: flex;
    margin-bottom: 5px;
}
label {
    width: 100px;
    display: flex;
    align-items: center;
}
input {
    padding: 10px;
    border: none;
    background-color: #f1f1f1;
}
.form-control {
    display: flex;
    justify-content: flex-end;
}
button {
    background-color: skyblue;
    border: none;
    padding: 5px 20px;
    margin-right: 10px;
    border-radius: 3px;
}