* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

a {
    text-decoration: none;
    font-weight: bold;
}

nav {
    display: flex;
    background-color: lightgray;
    padding: 0 20px;
    border-bottom: 3px solid darkgrey;
    box-shadow: 0px 5px 15px grey;
}

.nav-item {
    color: black;
    padding: 20px;
    border-left: 1px solid black;
    transition: background-color 0.5s ease;
}

.nav-item:hover {
    background-color: rgb(163, 163, 163);
    font-weight: bold;
}

main {
    max-width: 1024px;
    margin: 0 auto;
}

input {
    width: 300px;
    height: 24px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid grey;
}

a:hover {
    cursor: pointer;
}

.shadow-box {
    box-shadow: 7.5px 7.5px 20px lightgrey;
    border-radius: 10px;
    padding: 10px;
}

.center-text-alignment {
    text-align: center;
}

.main-text {
    font-size: 36px;
    font-weight: bold;
}

.href-content {
    margin-top: 30px;
    margin-bottom: 30px;
}

.href-content>a {
    padding: 10px 20px;
    border: 2px solid rgb(133, 133, 133);
    background-color: lightgray;
    border-radius: 5px;
    margin: 0px 5px;
    text-decoration: none;
    transition: background-color 0.5s ease;
}

.href-content>a:hover {
    background-color: white;
}

.error-message {
    font-size: 20px;
    font-weight: bold;
    color: red;
}

.object-name {
    font-size: 18px;
    font-weight: bold;
}

.flex-setup {
    display: flex;
}

.left-side {
    width: 33%;
}

.right-side {
    width: 66%;
}

.recipe-info {
    width: 100%;
    display: flex;
}

.margin-right-boxes {
    margin-right: 3%;
}

.margin-top-boxes {
    margin-top: 3%;
}

.latest-meal-object {
    text-align: left;
}

footer {
    background-color: lightgray;
    box-shadow: 0px -5px 15px grey;
    height: 100%;
}