body {
    font-size: 16px;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #efefef;
}

.text-centered {
    text-align: center;
}

.hidden {
    display: none;
}


/* 
* 
* NAVIGATION
*
*/

nav {
    background-color: #353535;
    display: flex;
    padding-top: 14px;
    padding-bottom: 14px;
    flex-wrap: wrap;
}

nav a {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: ease-in 0.3s;
    font-size: 1.5em;
}

nav div {
    display: flex;
    align-items: center;
    margin-left: 16px;
}

.navbar-right-info {
    flex: 1;
    align-items: flex-end;
    display: flex;
    flex-flow: column;
    padding-right: 10px;
    color: white;
}


/*
*
* BODY
*
*/

main {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin-top: 90px;
}

aside {
    flex: 1;
    padding: 14px;
    border-right: 2px solid black;
    overflow-y: auto;
}

.header {
    display: flex;
    align-items: center;
}

.header h2 {
    flex: 1;
}

.email-container {
    flex: 4;
    height: 100%;
    padding: 14px;
    overflow-y: auto;
}

.text-red {
    color: red;
}

#unsent-emails,
#existing-emails {
    display: flex;
    flex-flow: column;
    gap: 10px;
}

.unsent-email,
.existing-email {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    padding: 5px 10px;
    cursor: pointer;
}

.unsent-email {
    display: flex;
    align-items: center;
}

.unsent-email-text {
    flex: 1;
}

.unsent-email.active,
.existing-email.active {
    background-color: #8bbbf1;
}

.unsent-email h4,
.existing-email h4 {
    margin-top: 0;
    margin-bottom: 4px;
}

.note-modal-backdrop {
    display: none !important;
}

.line-input {
    display: flex;
}

.line-input label {
    width: 70px;
}

.line-input input {
    flex: 1;
    margin-left: 12px;
}

.check-address {
    margin-top: 12px;
}