* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body {
    background-color: #e2caa6;
}

h1 {
    text-align: center;
    color: rgb(206, 166, 106);
    background-color: rgb(153, 18, 18);
    width: 400px;
    margin: 0 auto;
    padding: 15px;
    box-shadow: 0 0 25px 1px black;
}

.container {
    margin: 10px auto;
}

.form {
    background-color: rgb(153, 18, 18);
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px auto;
    box-shadow: 0 0 25px 1px black;
}

.form-item {
    width: 350px;
    border: 5px solid rgb(206, 166, 106);
}

.submit-button, .key-input {
    height: 30px;
}

.cipher-input:focus, .key-input:focus {
    background-color: white;
    border: 5px solid #a58555;
}

.cipher-input {
    vertical-align: top;
    height: 200px;

}


.submit-button {
    text-transform: uppercase;
    vertical-align: middle;
    padding: 0;
    font-weight: bold;
}

.submit-button:active {
    background-color: rgb(206, 166, 106);
}

.results {
    margin-top: 20px;
    margin-left: 20px;
}