.container{
    
}
*{
    box-sizing: border-box;
}
body{
    display:flex;
    justify-content: center;
    background-image: url('../images/caesar.jpg');
    
}

.container{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    background-color: lightcoral;   
    display:flex;
    align-items: center;
    justify-content: center;
}



input, button{
    display:block;
}
textarea{
    width: 300px;
    height: 150px;
    resize: none;
}

button{
    margin-top:10px;
    margin-bottom: 10px;
    background-color: black;
    color:white;
    border:none;
    padding:5px;
}
button:active{
    background-color: dimgray;
}
p{
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
