* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: Open sans-serif;
}

h2 {
    text-align: center;
}

.decryption-form {
    margin: 30px;
    max-width: 500px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(26, 75, 116);
    align-content: space-around;
    gap: 20px;
}

input {
    border-radius: 5px;
    height: 28px;
}

button {
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(33, 196, 95);
    font-size: large;
    color: rgb(15, 19, 8);
}

button:hover {
    background-color: rgb(8, 104, 28);
    transition: linear .5s;
}

.result {
    margin: 30px;
    max-width: 500px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(206, 12, 231);
}


