* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background: #8741FF;
    background: radial-gradient(ellipse at center, #8741FF, #5B18FB);
    padding: 20px;
    color: whitesmoke;
}

#game-field {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
    height: calc(100vh - 40px - 9rem);
    min-height: 400px;
}

.card {
    background-color: #D886FF;
    color: transparent;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    border-radius: 20px;
    transition: background-color .5s ease;
    cursor: pointer;
    user-select: none;
}

.card:hover {
    background-color: #B064FF;
}

.card.fliped {
    background: #BE00B4;
    color: whitesmoke;
}

.card.revealed {
    background: #F400B9;
    color: whitesmoke;
}
