* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

hr {
    border-style: solid;
    border-color: #eee;
}

@keyframes spin {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
}

.loader {
    border: 5px solid cadetblue;
    border-top: 5px solid #ccc;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: auto;
}

footer {
    background-color: cadetblue;
    padding: 20px 0;
}

#user-profile {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}

#user-profile > h2 {
    padding: 10px;
    background-color: cadetblue;
    border-radius: 10px;
}

.profile-information {
    display: flex;
    gap: 10px;
}

.avatar {
    width: 50%;
}

.avatar img {
    width: 100%;
}

.profile-parameters {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 10px;
}

.profile-parameter {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: lightblue;
    border-radius: 5px;
    padding: 10px;
}

.parameter-name {
    display: flex;
    align-self: flex-start;
    width: 150px;
}

.parameter-value {
    display: flex;
    align-self: flex-end;
    width: 100%;
}

#repositories {
    width: 800px;
    padding: unset;
    margin-left: auto;
    margin-right: auto;
}

ul {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

li {
    background-color: lightblue;
    list-style: none;
    padding: 10px;
    border-radius: 10px;
    width: 800px;
}

.repository {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 5px;
}
