@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700');

* {
    box-sizing: border-box;
}

/*---Key components----*/

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    min-height: 100vh; /*for infinite bottom page*/
    /*display: flex */ /*for infinite bottom page - Skryto kvuli nefunkcnimu IE11*/
    /*flex-direction: column;*/ /*for infinite bottom page - Skryto kvuli nefunkcnimu IE11*/
}

header {
    background-color: #1c3144;
    padding: 12.8px 0;
}

h1 {
    text-align: center;
    color: white;
}

/*---Header navigation----*/

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

/*---main----*/
#app{
    margin: 20px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a2aebb;
    border-radius: 20px;
}

#caesar-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#shifted-text{
    text-align: center;
    margin: 10px 50px;
    /*background-color: #3f88c5;*/
    color:white;
}

.cipher-text{
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #3f88c5;
    border-radius: 10px;
}

.key-number{
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #3f88c5;
    border-radius: 10px;
}

#ciphre{
    padding: 5px;
    width: 15%;
    margin: 2px 0;
    background-color: #e94a4a;
    border-radius: 10px;
}

#deciphre{
    padding: 5px;
    width: 15%;
    margin: 2px 0;
    background-color: #ffba08;
    border-radius: 10px;
}