* {
    box-sizing: border-box;
}

body {
    background-color: white;

}

.app {
    background-color: blanchedalmond;
    min-height: 87vh;
    margin-right: 50px;
    margin-left: 50px;
    text-align: center;
}

h1 {
    text-align: center;
    font-family: sans-serif;
}

.tags>button {
    height: 50px;
    margin-left: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 100px;
    background-color: burlywood;
    border: 3px solid white;
    font-weight: 700;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.result-image {
    margin: 10;
    padding-left: 10px;
}

footer {
    width: 100%;
    background-color: burlywood;

}

.spinner {
    border: 5px solid blue;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    border-left-color: transparent;
    animation: spinning 1s ease infinite;
    margin-left: 50%;

}

@keyframes spinning {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg)
    }
}