* {
    box-sizing: border-box;
    font-family: Ubuntu, sans-serif;
    font-weight: normal;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

#app {
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    width: 100%;
    height: 100%;
}

#app > * {
    border-radius: 10px;
}

#seznam-mapa {
    width: 75%;
    height: 100%;
}

.main-panel {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    overflow-y: auto;
    padding-left: 10px;
    padding-right: 10px;
    align-content: center;
}

#side-panel {
    display: flex;
    flex-flow: column nowrap;
    width: 25%;
    height: 100%;
    background-color: aliceblue;
    overflow-y: auto;
    padding: 10px;
}

.side-panel-content{
    display: flex;
    flex-flow: column nowrap;
}

.panel-name {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: lightblue;
    border-radius: 10px;
    justify-content: center;
}

.panel-name > h1 {
    margin: unset;
    text-align: center;
}

.weather-param-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    border-bottom: 1px solid lightblue;
}

.weather-param-wrapper:nth-last-child(1) {
    border-bottom: none;
}

.weather-param {
    font-weight: bold;
}

#email-form, #apikey-form {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    padding-bottom: 10px;
}

#email-input {
    margin-top: 10px;
    width: 100%;
}

#apikey-form {
    max-width: 300px;
    width: 100%;
    align-self: center;
}

#apikey-input {
    width: 100%;
}

#delete-api-keys-button-wrapper{
    margin-top: auto;
}
