@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    margin: 0;
    font-size: 18px;
    background-color: #ff8646;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    background-image: url("slon.jpg");
    background-size: 100%;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}


.custom-box { 
    max-width: 700px;
    background-color: #fffce2;
    margin: 40px auto;
    padding: 30px;
    padding-bottom: 50px;
    border-radius: 10px;
    animation: fadeInRight 1s ease;
}

@keyframes fadeInRight {
    0% {
        transform: translateX(40px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}


.custom-box::before,
.custom-box::after {
    content: '';
    clear: both;
    display: table;
}


.custom-box.hide{
    display: none;
}

.home-box h3 {
    font-size: 18px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 25px;
}

.home-box p{
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 22px;
    color: #000000;
    font-weight: 400;
}

.custom-box p span{
    font-weight: 500;
}

.home-box .btn {
    margin-top: 20px;
}

.btn {
    padding: 15px 45px;
    background-color: #ff8646;
    color: #ffffff;
    border: none;
    border-radius: 7px;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 10px;
}


.quiz-box .question-number,
.quiz-box .question-text,
.quiz-box .option-container,
.quiz-box .next-question-btn,
.quiz-box .answers-indicator{
    width: 100%;
    float: left;
}

.quiz-box .question-number{
    font-size: 21px;
    color: #ff8646;
    font-weight: 600;
    border-bottom: 1px solid #ff8646;
    padding-bottom: 10px;
    line-height: 25px;
}

.quiz-box .question-text{
    font-size: 40px;
    color: #000000;
    line-height: 28px;
    font-weight: 400;
    padding: 15px 0;
    margin: 0;
}

.quiz-box .question-text img {
    max-width: 100%;
    display: block;
    margin-top: 15px;
}

.quiz-box .option-container .option{
    background-color: #ff8646;
    padding: 13px 15px;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    /*text-transform: capitalize;*/
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
    position: relative;
    overflow: hidden;
}

.quiz-box .option-container .option.already-answered {
    pointer-events: none;
}

@keyframes fadeIn {
    0% {
        opacity:0;

    }

    100% {
        opacity: 1;
    }
}

.quiz-box .option-container .option.correct::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 255, 0);
    z-index: -1;
    animation: slideInLeft .5s ease forwards;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }

}

.quiz-box .option-container .option.wrong::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 38, 0);
    z-index: -1;
    animation: slideInLeft .5s ease forwards;
}

.quiz-box .option-container .option.wrong {
    color: #ffffff;
}

.quiz-box .option-container .option.correct {
    color: #ffffff;
}

.quiz-box .btn {
    margin-top: 15px 0;
}

.quiz-box .answers-indicator {
    border-top: 1px solid #ff8646;
}

.quiz-box .answers-indicator div{
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: #ff8646;
    border-radius: 50%;
    margin-right: 3px;
    margin-top: 12px;
}

.quiz-box .answers-indicator div.correct{
    background-color: rgb(0, 255, 0);
    background-image: url("../correct.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.quiz-box .answers-indicator div.wrong{
    background-color: rgb(255, 38, 0);
    background-image: url("../wrong.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.result-box{
    text-align: center;
}

.result-box.hide{
    display: none;
}

.result-box h1{
    font-size: 40px;
    line-height: 45px;
    color: #ff8646;

}

.result-box table{
    width: 100% ;
    border-collapse: collapse;
    margin: 30px 0;
}

.result-box table td{
    border: 1px solid #ff8646;
    padding: 8px 15px;
    font-weight: 500;
    color: #000000;
    width: 50%;
    text-align: left;
    font-size: 20px;
}

.result-box .btn{
    margin-right: 20px;
}



@media(max-width: 767px) {

    .result-box .btn {
        margin-bottom: 15px;
    }

    body {
        padding: 15px;
    }
}