* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display:flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    margin-bottom: 30px;
}

.row>* {
    font-size: 30px;
    font-weight: bold;
}

.card {
    background-color: blueviolet;
    width: 100px;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
    transition:0.1s linear;
    color:transparent;
    
}
.card:hover{
    box-shadow: 2px 2px 5px black;
}
.revealed {
    background-color: deeppink;
    color: white;
}

.card {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game-area {
    max-width: 1024px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px; 
    justify-content: center;
}